@import url("https://use.typekit.net/izl4igd.css");

.container {
  margin: auto;
  margin-top: 12vh;
  margin-bottom: 15vh;
  max-width: 60vw;
  font-family: sans-serif;
  
 /* background-color: fade( #020201, 50%);*/
  
  color: #363537;
  
}
img{
  border-radius:75%;
}

.headshot {
  border-radius: 50%;
}

.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}
html{
   /*background: url(../images/texture.jpg) no-repeat center center fixed;
    background-size: cover;*/
    background-color: #C09D2E;
    }
      

